/* Pon tu código css aqui */

.papa{
	border: 3px solid red;
	width: 500px;

}

.yellow{
	background: #F7FE2E;
	width: 150px;
    height:100px;
    float: right;
    
	

}
.blue{
	background: #0000FF;
	width: 150px;
    height: 100px;
    float: right;
	

}
.pink{
	background: #FF0080;
	width: 150px;
    height: 100px;
    float: right;
    
	
}